@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assuming you have a class or ID for your number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Webkit browsers like Chrome and Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional */
}
